DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=credit
DATABASE_PASSWORD=credit
DATABASE_NAME=credit_system

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=60

LOG_LEVEL=info
NODE_ENV=development
